@font-face {
    font-family: Burbank;
    src: url('../fonts/Burbank-Big-Condensed-Bold-Font.otf');
    font-weight: 700;
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to left, #024492,#0854a2);
    &.loaderActive{
        overflow: hidden;
    }
}

.social-media{
    display: flex;
    align-items: center;
    gap: 0.778vw;
    a{
        display: flex;
        transition: scale 0.4s ease;
        
        img{
            height: 1.972vw;
        }

        &:hover{
            scale: 1.1;
        }
    }

    @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        gap: 3vw;
        a{
            display: flex;
            transition: scale 0.4s ease;
            
            img{
                height: 7vw;
            }

            &:hover{
                scale: 1.1;
            }
        }
    }
}

.buttons{
    display: flex;
    gap: 3.125vw;
    margin-bottom: 4vw;

    a{
        display: flex;
        align-items: center;
        color: #FFF;
        font-family: Burbank;
        text-decoration: none;
        font-size: 1.333vw;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .07vw;
        border-radius: 1.267vw;
        border: 0.4vw solid #2e68ac;
        outline: .5vw solid #2b76cc;
        background: linear-gradient(#5aa4fa 50%, #4b90e1 50%) ;
        overflow: hidden;
        padding: 0.45vw 0;
        

        span{                
            padding: 0.4vw 1.319vw;
            background-color: #5aa4fa;
            border-bottom-left-radius: 1.333vw 0.667vw;
            border-bottom-right-radius: 1.333vw 0.667vw;
        }

        &:hover{
            scale: 1.05;
        }

        &.gold{
            border: 0.4vw solid #f9ae36;
            outline: .5vw solid #ffdc72;
            background: linear-gradient(#f7a32a 50%, #eb9e2a 50%) ; 

            span{
                background: #f7a32a;
            }
        }
    }
    @media screen and (max-width: 768px) {
        display: flex;
        gap: 5vw;
        margin-top: 2vw;
        margin-bottom: 4vw;

        a{
            display: flex;
            align-items: center;
            color: #FFF;
            font-family: Burbank;
            text-decoration: none;
            font-size: 6vw;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .07vw;
            border-radius: 1.267vw;
            border: 0.4vw solid #2e68ac;
            outline: .5vw solid #2b76cc;
            background: linear-gradient(#5aa4fa 50%, #4b90e1 50%) ;
            overflow: hidden;
            padding: 1vw 0;
            

            span{                
                padding: 0.4vw 3vw;
                background-color: #5aa4fa;
                border-bottom-left-radius: 1.333vw 0.667vw;
                border-bottom-right-radius: 1.333vw 0.667vw;
            }

            &:hover{
                scale: 1.05;
            }

            &.gold{
                border: 0.4vw solid #f9ae36;
                outline: .5vw solid #ffdc72;
                background: linear-gradient(#f7a32a 50%, #eb9e2a 50%) ; 

                span{
                    background: #f7a32a;
                }
            }
        }
    }    
}


header{
    height: 4.583vw;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3.47vw;
    nav{
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        z-index: 10;

        ul{
            height: 100%;
            display: flex;
            align-items: center;
            gap: 3.056vw;
            list-style: none;
            
            a{
                font-family: Burbank;
                font-size: 1.25vw;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.1vw;
                &:hover{
                    color: #5aa4fa;
                }
            }
            button{
                display: none;
                border: none;
                font-size: 1.4rem;
                color: white;
                background-color: transparent;
            }
        }        
    }
    .menu_btn{
        display: none;
        border: 0;
        background-color: transparent;
        color: white;
        cursor: pointer;
    
        svg{
          width: 32px;
          height: 32px;
        }
    }

    @media screen and (max-width: 768px) {        
        height: 12vw;        
        padding: 0 .5rem;
        position: relative;

        nav{
          width: 100%;
          height: 0;
          top: 0;
          ul{
              position: fixed;
              display: none;
              flex-direction: column;
              align-items: center;
              justify-content: center;          
              background-color: #0b5697;
              right: 0;
              top: 0;
              height: 100vh;
              width: 60%;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
              z-index: 10;
              gap: 1rem;
    
              li a {              
                  font-size: 6vw;              
                }
    
              button{
                display: flex;
                cursor: pointer;
              }
            }
          }
        .menu_btn{
          display: flex;
          cursor: pointer;
        }   
        
        .header-buttons{
            gap: .5rem;    
            a{
                text-decoration: none;
                font-size: 2vw;
                padding: .2rem .5rem;    
            }
        }
    }
}

.hero{
    height: calc(100vh - 4.583vw);
    /* background: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;

    .logo{
        width: 33vw;
    }
    .title{
        color: #FFF;
        font-family: Burbank;
        font-size: 2.667vw;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 0 15px black,0 0 15px black,0 0 15px black;
    }
    p{
        color: white;
        font-weight: 400;
        font-size: 1.389vw;
        font-family: Nunito;
        text-transform: uppercase;
        padding: 2vw 0;
    } 
    video,#fallback-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -2;
        filter: brightness(.3);
    }
    #fallback-image{
        display: none;
        filter: brightness(.8);
    }
    .filter-background{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        background: linear-gradient(to bottom, #000000 0%, transparent 10%, transparent 90%, #08090b 100%); 
    }

    @media screen and (max-width: 768px) { 
        height: 95vh;
        /* background: url('../img/hero.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
 */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo{
            width: 70vw;
        }
        .title{
            color: #FFF;
            font-family: Burbank;
            font-size: 8vw;
            text-align: center;
            text-wrap: balance;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 0 0 15px black,0 0 15px black,0 0 15px black;
        }
        p{
            color: white;
            font-weight: 400;
            font-size: 3.5vw;
            font-family: Nunito;
            text-transform: uppercase;
            padding: 2vw 0;
        } 
    }

}

.betingame{
    display: flex;
    justify-content: space-between;
    padding-top: 11vw;
    padding-bottom: 9.271vw;
    padding-left: 6.528vw;
    padding-right: 6.09vw;
    gap: 6.493vw;

    height: 48.9814vw;
    background: url('../img/bg-1.jpg');
    background-position: top center, center;
    background-size: cover;
        
    .carrousel-container{
        width: 46.167vw;
        height: fit-content;
        position: relative;
        
        button{
            position: absolute;
            top: 50%;    
            background: none;
            border: none;
            width: 2.854vw;   
            cursor: pointer;                 
        }
        #prevBtn{
            left: 0;
            translate: -150% -50%;
        }
        #nextBtn{
            right: 0;
            translate: 150% -50%;
        }
    }
    .text{
        width: 34.722vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            color: white;
            padding: 1.111vw 2.153vw;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 1.4vw;
            text-align: center;
            
            h1{
                font-family: Burbank;
                font-size: 3.056vw;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
            }
            span{
                font-family: Burbank;
                font-size: 1.956vw;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .paragraph{
            margin-top: 1.319vw;
            margin-bottom: 1.4vw;
            padding: 2.292vw 1.25vw;
            color: white;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 1.4vw;

            display: flex;
            flex-direction: column;
            gap: 1.389vw;

            p{
                color: white;
                font-weight: 600;
                font-size: 1.111vw;
                font-family: Nunito;
            }
        }
    }
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 10vw 1.5rem;
        gap: 6.493vw;

        height: auto;
        background: url('../img/bg-1.jpg');
        background-position: top center, center;
        background-size: cover;
            
        .carrousel-container{
            width: 90%;
            position: relative;

            img{
                width: 100%;
            }
            button{
                position: absolute;
                top: 50%;    
                background: none;
                border: none;
                width: 5vw;   
                cursor: pointer;                 
            }
            #left{
                left: 0;
                translate: -150% -50%;
            }
            #right{
                right: 0;
                translate: 150% -50%;
            }
        }
        .text{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title{
                color: white;
                padding: 2vw 4vw;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 1.4vw;
                text-align: center;
                margin-bottom: 2vw;
                
                h1{
                    font-family: Burbank;
                    font-size: 8vw;
                    font-style: normal;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1;
                }
                span{
                    font-family: Burbank;
                    font-size: 3vw;
                    font-style: normal;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1;
                }
            }
            .paragraph{
                margin-top: 1.319vw;
                margin-bottom: 5vw;
                padding: 4vw 2vw;
                color: white;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 1.4vw;

                display: flex;
                flex-direction: column;
                gap: 1.389vw;

                p{
                    color: white;
                    font-weight: 600;
                    font-size: 3vw;
                    font-family: Nunito;
                }
            }
        }
    }
}

.social-media-section{
    display: flex;
    justify-content: center;
    padding: 0.486vw 0;

    .social-media{
        opacity: .4;  
        gap: 4.861vw; 
        img{
            height: 3.472vw;
            &.twitter{
                height: 3.3vw;
            }
            &.gitbook{
                height: 3vw;
            }
        }   

    }

    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 2vw 0;

        .social-media{
            opacity: .4;  
            gap: 6vw; 
            img{
                height: 7vw;
                &.twitter{
                    height: 6.5vw;
                }
                &.gitbook{
                    height: 6vw;
                }
            }   

        }
    }
}


.roadmap{
    height: 50vw;
    background: url('../img/bg-2.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.861vw 1rem;
    gap: 2.222vw;

    h1{
        font-family: Burbank;
        font-size: 6.111vw;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
        color: white;
    }

    .phases{
        display: flex;
        gap: 5.069vw;

        .phase{
            width: 19.861vw;
            padding: 1vw 0;
            padding-top: 2.222vw;            
            border: 0.4vw solid #2e68ac;
            outline: .5vw solid #2b76cc;
            background: linear-gradient(#5aa4fa 50%, #4b90e1 50%) ;
            overflow: hidden;
            border-radius: 1.5vw;

            h3{
                text-align: center;
                font-family: Burbank;
                font-size: 2.444vw;
                font-style: normal;
                font-weight: 800;
                text-transform: uppercase;
                color: white;
            }

            ul{
                margin-top: .5vw;
                list-style: none;
                padding: 1.222vw 1.875vw;
                background-color: #5aa4fa;
                border-bottom-left-radius: 1.333vw 0.667vw;
                border-bottom-right-radius: 1.333vw 0.667vw;
                li{
                    color: white;
                    font-weight: 700;
                    font-size: 1.181vw;
                    font-family: Nunito;
                    line-height: 1.8;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        height: auto;
        background: url('../img/bg-2-mobile.jpg');
        background-position: bottom;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4.861vw 1rem;
        gap: 2.222vw;

        h1{
            font-family: Burbank;
            font-size: 8vw;
            font-style: normal;
            font-weight: 800;
            text-transform: uppercase;
            color: white;
        }

        .phases{
            margin-top: 5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5.069vw;
            width: 100%;

            .phase{
                width: auto;
                padding: 1vw 0;
                padding-top: 2.222vw;            
                border: 0.4vw solid #2e68ac;
                outline: .5vw solid #2b76cc;
                background: linear-gradient(#5aa4fa 50%, #4b90e1 50%) ;
                overflow: hidden;
                border-radius: 1.5vw;

                h3{
                    text-align: center;
                    font-family: Burbank;
                    font-size: 5vw;
                    font-style: normal;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: white;
                }

                ul{
                    margin-top: .5vw;
                    list-style: none;
                    padding: 1.222vw 1.875vw;
                    background-color: #5aa4fa;
                    border-bottom-left-radius: 1.333vw 0.667vw;
                    border-bottom-right-radius: 1.333vw 0.667vw;
                    li{
                        color: white;
                        font-weight: 700;
                        font-size: 3vw;
                        font-family: Nunito;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}

.beta{
    padding: 1.389vw 0;
    display: flex;
    justify-content: center;
    gap: 6.944vw;

    span{
        text-align: center;
        font-family: Burbank;
        font-size: 2.667vw;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
        color: white;
        text-shadow: 0 .3vw .4vw black,0 .3vw .4vw black;
    }

    @media screen and (max-width: 768px) {
        padding: 3vw 0;
        display: flex;
        justify-content: center;
        gap: 6.944vw;

        span{
            text-align: center;
            font-family: Burbank;
            font-size: 4vw;
            font-style: normal;
            font-weight: 800;
            text-transform: uppercase;
            color: white;
            text-shadow: 0 .3vw .4vw black,0 .3vw .4vw black;
        }
    }
}

.footer{
    background: #083e7b url('../img/bg-3.png');   
    height: 54vw;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 9vw;

    .logo{
        width: 25.347vw;
    }

    h1{
        margin-top: 3.472vw;
        text-align: center;
        font-family: Burbank;
        font-size: 4.444vw;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
        color: white;
    }
    .social-media{
        margin-top: 0.625vw;
        gap: 1.736vw;
        opacity: .7;

        img{
            height: 4.389vw;
        }

    }

    footer{
        display: flex;
        margin-top: 2vw;

        a{
            color: rgba(255, 255, 255, 0.481);
            text-decoration: none;
            font-weight: 400;
            font-size: 1.181vw;
            font-family: Nunito;
            line-height: 1.8;
            padding: 0 1.181vw;
            &:first-child{
                border-right: 1px solid #027fec;
            }
        }
    }

    @media screen and (max-width: 768px) {
        background: #083e7b url('../img/bg-3.png');   
        height: auto;
        background-position: center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding-top: 5vw;

        .logo{
            width: 30vw;
        }

        h1{
            margin-top: 3.472vw;
            text-align: center;
            font-family: Burbank;
            font-size: 10vw;
            font-style: normal;
            font-weight: 800;
            text-transform: uppercase;
            color: white;
            margin-bottom: 3vw;
        }
        .social-media{
            margin-top: 0.625vw;
            gap: 4vw;
            opacity: .7;

            img{
                height: 6vw;
            }

        }

        footer{
            display: flex;
            margin-top: 2vw;

            a{
                color: rgba(255, 255, 255, 0.481);
                text-decoration: none;
                font-weight: 400;
                font-size: 2vw;
                font-family: Nunito;
                line-height: 1.8;
                padding: 0 1.181vw;
                &:first-child{
                    border-right: 1px solid #027fec;
                }
            }
        }
    }

}

#slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    
    border: 4px solid #f2bd1d;
    border-radius: 2.083vw;
    overflow: hidden;
    
    #slider {
        display: flex;
        transition: transform 0.5s ease-in-out;        
    }
    
    .slide {
        min-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        img{
            width: 100%;               
            aspect-ratio: 16/9;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 768px) {
        border: 2px solid #f2bd1d;
        border-radius: 1rem;
        overflow: hidden;
    }
}

/* loader */


  
.main-fader{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {        
      svg {
        height: 300px;
        display: block;
        margin: 0 auto;
        path {
          animation-duration: 1s;
          animation-name: pulse;
          animation-iteration-count: infinite;
          color: #26a380;
  
          &.path-7 {
            animation-delay: -1s
          }
          &.path-6 {
            animation-delay: -.875s
          }
          &.path-5 {
            animation-delay: -.75s
          }
          &.path-4 {
            animation-delay: -.625s
          }
          &.path-3 {
            animation-delay: -.5s
          }
          &.path-2 {
            animation-delay: -.375s
          }
          &.path-1 {
            animation-delay: -.25s
          }
          &.path-0 {
            animation-delay: -.125s
          }
        }
      }
    }
}
  
  
  @keyframes pulse {
    0%     { opacity: .1; }
    30%    { opacity: .8; }
    100%   { opacity: .1; }
  }
  